/ (root)
  index.html
  assets/
    scss/
      main.scss
      _variables.scss
      _mixins.scss
      components/
        _header.scss
        _footer.scss
    css/
      main.css  â† (output)
  js/
    ...
