/ (root)
  index.html
  assets/
    scss/
      main.css
      _variables.css
      _mixins.css
      components/
        _header.css
        _footer.css
    css/
      main.css  â† (output)
  js/
    ...
$main-font: 'Arial, sans-serif';
$bg-color: #f9f9f9;
