/* Error: Sass variables aren't allowed in plain CSS.
 *   ,
 * 5 |   margin-bottom: $spacing-md;
 *   |                  ^^^^^^^^^^^
 *   '
 *   assets/scss/components/_header.css 5:18  @import
 *   assets/scss/styles.scss 3:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Sass variables aren't allowed in plain CSS.\a   \2577 \a 5 \2502    margin-bottom: $spacing-md;\a   \2502                   ^^^^^^^^^^^\a   \2575 \a   assets/scss/components/_header.css 5:18  @import\a   assets/scss/styles.scss 3:9              root stylesheet";
}
